<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler,NHibernate" />
	</configSections>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
			<property name="connection.connection_string">Data Source=nhlite.db;Foreign Keys=True;</property>
			<property name="generate_statistics">true</property>
			<property name="hbm2ddl.auto">create</property>
		</session-factory>
	</hibernate-configuration>
	
</configuration>